body {
    overflow: visible;
}

.error-message {
    font-size: 1vw;
    font-family: louis;
    margin-bottom: 10px;
}
.loginForm {
    margin-top: 20vh;
    background-color: #f9f9f9;
    border-radius: 40px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 100vh;
    max-height: 100vh;
}

/* Text styling */
.txt_Title, .txt_MYW, .txt_Desc {
    z-index: 999;
    position: relative;
    color: #1e271f;
}

.txt_Title {
    margin-bottom: 6vh;
}

.txt_MYW {
    font-family: nexa;
    font-size: 3rem;
    margin-top: -4vh;
}

.txt_Desc {
    font-family: louis;
    margin-top: 1.5vh;
}

input, label {
    font-family: louis;
    margin-bottom: 10px;
    padding: 1px 5px 1px 5px;
}

input {
    height: 1.8rem;
    width: 14rem;
    border-radius: 5px;
    border-style: solid;
    opacity: 50%;
}

.btn_login {
    margin-top: 15px;
    font-family: louis;
    color: white;
    background-color: #1e271f;
    border-style: none;
    border-radius: 20px;
    padding: 10px 37px 10px 37px;
    cursor: pointer;
}

.btn_login:hover {
    opacity: 80%;
    transition: 0.3s;
}

.existingacc, .a1 {
    font-family: louis;
}

.existingacc {
    opacity: 80%;
}

.a1 {
    opacity: 60%;
    text-decoration: none;
    color: #1e271f;
}

.a1:hover {
    opacity: 100%;
    text-decoration: none;
    color: #1e271f;
    transition: 0.3s;
}

.field-icon {
    top: 0;
    width: 20px;
    opacity: 80%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .loginForm {
        margin-top: 15vh;
    }
}