body {
}
.requestOtpDiv {
    transform: translate(0%, 40%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 60vh;
    padding: 60px;
    background-color: #fff;
}

.form-container {
   
    background-color: #fff;
    border-radius: 20px;
    padding: 60px;
    width: 100%;
    max-width: 400px; /* Max width to avoid stretching on large screens */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.txt_Title {
    font-family: louis;
    text-align: center;
    margin-bottom: 20px;
}

.txt_MYW {
    font-family: nexa;
    font-size: 40px;
    color: #333;
    margin: 0;
}

.txt_Desc {
    font-family: louis;
    font-size: 12px;
    color: #666;
    margin: 0;
}

.input-field {
    font-family: louis;
    position: relative;
    margin-bottom: 20px;
}

.input-field input {
    font-family: louis;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    box-sizing: border-box;
}

.input-field .field-icon {
    font-family: louis;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

.btn_login {
    font-family: louis;
    width: 100%;
    padding: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_login:hover {
    background-color: #45a049;
}

.backtologin {
    font-size: 12px;
    color: black;
    font-family: louis;
    opacity: 60%;
    text-decoration: none;
}

.backtologin:hover {
    opacity: 100%;
    transition: 0.3s ease;
}

/* Responsive Design */
@media (max-width: 480px) {
    .form-container {
        padding: 20px;
        width: 100%;
        margin: 5px;
    }

    .txt_MYW {
        font-size: 22px;
    }

    .txt_Desc {
        font-size: 14px;
    }

    .input-field input {
        padding: 10px;
        font-size: 14px;
    }

    .btn_login {
        font-size: 14px;
    }
}